.MakaleYazariAdi{
    line-height:34px;
}

#BegeniButonlari{
    float:right;
    margin-top:15px;
}

.banner-description {
  position: absolute;
  z-index: 999;
  left: 80px;
  top: 50px;
  color: white;
}
