.MakaleYazariAdi{
    line-height:34px;
}

#BegeniButonlari{
    float:right;
    margin-top:15px;
}

.banner-description {
  position: absolute;
  z-index: 999;
  left: 80px;
  top: 50px;
  color: white;
}

.color-palette {
  height: 20px;
  width: 100px;
  margin-bottom: -5px;
  display: inline-block;
}

.default-images {
  float: left;
  padding-right: 5px;
  margin-top: 10px;
}

input.has-error,
input.has-error:focus {
  border: 1px solid red;
}

.main-menu {
  margin-top: 15px;
}

.logo {
  margin-right: 10px;
  color: #50457B;
}

.off-canvas-container{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 min-height: 100vh;
 -ms-flex-direction: column;
 flex-direction: column;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
}

.off-canvas-container .main-content{
 -webkit-box-flex: 1;
 -ms-flex: 1 0 auto;
 flex: 1 0 auto;
}

.user-actions {
  margin-top: 20px;
  margin-right: -15px;
}

.user-actions ul.dropdown-menu {
  margin-right: 30px;
}

.ad-row .ad-thumb,
.ad-row h2 {
  margin-top: 0px;
}
