.MakaleYazariAdi{
    line-height:34px;
}

#BegeniButonlari{
    float:right;
    margin-top:15px;
}

.banner-description {
  position: absolute;
  z-index: 999;
  left: 80px;
  top: 50px;
  color: white;
}

.color-palette {
  height: 20px;
  width: 100px;
  margin-bottom: -5px;
  display: inline-block;
}

.default-images {
  float: left;
  padding-right: 5px;
  margin-top: 10px;
}
